<html>
<link rel="stylesheet" href="/css/home.css">
<body>
    <%- include('_header') -%>
      <div id="image-section">
        <div id="details">
        <p>
          This ConnectFace Platform creates a social webpage in which we can connect to each Other interact with each other make friends as well as post and comment
         Welcome to our page and join us by Signing up which is at the top right corner
         </p>
       </div>
      </div>
    
    
      <%- include('_footer') -%>

</body>
</html>