<head>
    <link rel="stylesheet" href="/css/sign.css">
</head>
<body>
    
<h1 class="main-head">Connectface</h1>
<h1 class="head-sect">Sign In</h1>

<form action="/createSession" method="POST" class="form-section">
    <input type="email" name="email" placeholder="Email"  required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In">


<p>
    <a href="/auth/google">Google Sign In/Sign Up</a>
</p>
</form>
</body>
